#user-dropdown {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}
#friend-req-submit-error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    color: red;
}